workflows/templates/usa-pii/banking-customer-onboarding.json
{
  "name": "Banking Customer Onboarding - PII Censoring",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Sample customer application data\nconst customerData = {\n  applications: [\n    {\n      customerId: \"CUST-001\",\n      fullName: \"John Smith\",\n      ssn: \"123-45-6789\",\n      driverLicense: \"D123456789\",\n      email: \"john.smith@email.com\",\n      phone: \"(555) 123-4567\",\n      address: \"123 Main St, New York, NY 10001\",\n      bankAccount: \"1234567890\",\n      creditCard: \"4532-1234-5678-9012\",\n      applicationDate: \"2024-01-15\",\n      status: \"pending_review\"\n    },\n    {\n      customerId: \"CUST-002\",\n      fullName: \"Jane Doe\",\n      ssn: \"987-65-4321\",\n      driverLicense: \"D987654321\",\n      email: \"jane.doe@email.com\",\n      phone: \"(555) 987-6543\",\n      address: \"456 Oak Ave, Los Angeles, CA 90210\",\n      bankAccount: \"0987654321\",\n      creditCard: \"5555-4444-3333-2222\",\n      applicationDate: \"2024-01-16\",\n      status: \"pending_review\"\n    }\n  ]\n};\n\n// Return each application as a separate item for processing\nreturn customerData.applications.map(app => ({\n  json: app\n}));"
      },
      "id": "sample-data",
      "name": "Sample Customer Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "piiType": "usa",
        "inputData": "auto",
        "censorChar": "█",
        "options": {}
      },
      "id": "censor-pii",
      "name": "Censor USA PII",
      "type": "n8n-nodes-aparavi-dtc-pii.aparaviPII",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "aparaviApi": "aparavi-api-credential"
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from the PII Censor node\nconst inputData = $input.first().json;\n\n// Extract original and censored data\nconst original = {\n  customerId: inputData.customerId,\n  fullName: inputData.fullName,\n  ssn: inputData.ssn,\n  driverLicense: inputData.driverLicense,\n  email: inputData.email,\n  phone: inputData.phone,\n  address: inputData.address,\n  bankAccount: inputData.bankAccount,\n  creditCard: inputData.creditCard,\n  applicationDate: inputData.applicationDate,\n  status: inputData.status\n};\n\nconst censored = inputData.censored;\n\nreturn [{\n  json: {\n    summary: `Customer ${original.customerId} processed`,\n    original: {\n      name: original.fullName,\n      ssn: original.ssn,\n      email: original.email,\n      phone: original.phone\n    },\n    censored: {\n      name: censored.fullName,\n      ssn: censored.ssn,\n      email: censored.email,\n      phone: censored.phone\n    },\n    metadata: inputData._metadata,\n    status: original.status\n  }\n}];"
      },
      "id": "create-summary",
      "name": "Create Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending_review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "✅ Customer application processed and PII censored for compliance review"
            },
            {
              "name": "customerId",
              "value": "={{ $json.original.customerId || $json.censored.customerId }}"
            },
            {
              "name": "censoredData",
              "value": "={{ JSON.stringify($json.censored, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "compliance-ready",
      "name": "Ready for Compliance Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "⚠️ Customer application needs additional processing"
            },
            {
              "name": "customerId",
              "value": "={{ $json.original.customerId || $json.censored.customerId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "needs-processing",
      "name": "Needs Additional Processing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Customer Data": {
      "main": [
        [
          {
            "node": "Censor USA PII",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Censor USA PII": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Ready for Compliance Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Additional Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
